@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Lato:wght@300;400;700;900&family=Marck+Script&family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400;600;700;900&family=Tangerine:wght@400;700&display=swap");
/* ---------------------------- Variables ----------------------------*/
/* --------------------- Font and Typography ---------------------- */
/* ---------------------------- Base ----------------------------*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
  font-family: "Lato", sans-serif;
  font-size: 0.938rem;
  background-color: #fbfefd;
  color: #3a3a3a;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

h1 {
  font-weight: 750;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: #292929;
  font-weight: 700;
  margin-bottom: 2rem;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ---------------------------- Classes ----------------------------*/
section {
  padding: 4rem 0 4rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  color: #292929;
  margin-bottom: 1.5rem;
}

.section-subtitle {
  display: block;
  color: #e8f9fa;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.margin-width {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* --------------------- Scroll to Top ---------------------- */
.scroll {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  background: #78aa6b2d;
  border-radius: 0.4rem;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.scroll:hover {
  background-color: #048654;
}

.scroll-icon {
  font-size: 1.8rem;
  color: #fbfefd;
}

/* Show scroll top */
/* --------------------- Header ---------------------- */
.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background-color: #fbfefd;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  color: #0e1026;
}

.header-toggle {
  color: #292929;
  font-size: 1.7rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow-y: auto;
  }
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.nav-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.nav-img img {
  width: 70px;
}

.nav-logo {
  margin-left: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-name {
  display: block;
  font-size: 1.5rem;
  color: #fbfbfb;
}

.nav-item {
  margin-bottom: 1rem;
}

.nav-link {
  color: #3a3a3a;
}

.nav-link:hover {
  color: #292929;
}

.nav-socials {
  margin-top: 1em;
}

.nav-socials i {
  margin-right: 1em;
  font-size: 1.3rem;
}

/*  Show Menu  */
.show {
  left: 0;
}

/*  Active Link  */
.active {
  color: #292929;
}

/* ----------------------- Home ------------------------ */
.home {
  background-color: #fbfefd;
  padding-top: 3rem;
}

.home h6 {
  margin-bottom: -0.75rem;
}

.home-container {
  margin-top: 1.5rem;
  height: calc(100vh-$header-height);
}

.home-data {
  margin-top: 3rem;
}

.home-title {
  line-height: 1.2;
  margin-top: 0.65rem;
  font-size: 2.25rem;
  color: #292929;
  margin-bottom: 0.5rem;
  max-width: 300px;
}

.home-title span {
  font-family: 'Marck Script', cursive;
}

.home-subtitle {
  max-width: 320px;
  font-size: 1rem;
  color: #3a3a3a;
  margin-bottom: 2rem;
  font-weight: 500;
}

.home-cta {
  background-color: #ff9853;
  color: #fff;
}

.star-rating {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.star-rating i {
  color: gold;
}

.star-rating p {
  color: #3a3a3a;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.home-grid {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[16];
      grid-template-columns: repeat(16, minmax(0, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
      grid-template-areas: '.. g1 g1 g1 g1 g1 g1 g1 g1 g2 g2 g2 g2 g2 g2 ..' '.. g1 g1 g1 g1 g1 g1 g1 g1 .. .. .. g4 g4 g4 g4' 'g3 g3 g3 g3 g3 g3 g3 g3 g3 g3 g3 g3 g4 g4 g4 g4';
}

.g1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-area: g1;
  border-radius: 0.3rem;
}

.g2 {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 6;
  grid-area: g2;
  border-radius: 0.3rem;
}

.g3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: g3;
  border-radius: 0.3rem;
}

.g4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 13;
  -ms-grid-column-span: 4;
  grid-area: g4;
  border-radius: 0.3rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.home-btn {
  position: fixed;
  bottom: 1rem;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  z-index: 10;
  background-color: #ff9853;
  color: #fff;
}

/* ----------------------- Services ------------------------ */
.services-container {
  position: relative;
}

.services-title,
.services-subtitle {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}

.services-subtitle {
  margin-bottom: 2rem;
}

.service-title {
  font-size: 16px;
  text-align: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.service-info {
  font-size: 14px;
  text-align: left;
}

/* ----------------------- Social Proof ------------------------ */
.social-proof-1 {
  background-color: #f5f5f5;
}

.social-proof-1 h2 {
  text-align: center;
}

.social-proof-data {
  margin-top: -1rem;
}

.swiper-container,
.swiper-container2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide,
.swiper-slide2 {
  text-align: center;
  color: #292929;
  font-size: 18px;
  height: 225px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide2 {
  height: 350px;
  width: 300px;
}

.swiper-slide img,
.swiper-slide2 img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3rem;
}

.quote {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-style: oblique;
}

.testimonial-name {
  font-weight: 700;
}

.testimonial-occupation {
  font-size: 10px;
  margin-bottom: 1.5rem;
}

/* ----------------------- Virtual Sessions ------------------------ */
.virtual-sessions {
  background: -webkit-gradient(linear, left top, right top, from(#292929), to(#ffffff00)), url(/images/virtualtraining.jpg) no-repeat center center/cover;
  background: linear-gradient(90deg, #292929, #ffffff00 100%), url(/images/virtualtraining.jpg) no-repeat center center/cover;
  height: 400px;
}

.virtual-sessions .virtual-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.virtual-sessions h2 {
  color: #fbfefd;
  margin-bottom: 1rem;
}

.virtual-sessions p {
  color: #fbfefd;
}

/* ----------------------- Treatments ------------------------ */
.treatments {
  border-top: 1px solid rgba(167, 167, 167, 0.253);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.treatment-card {
  margin-bottom: 2rem;
}

.treatment-title {
  margin: 0.5rem 0 0.4rem;
  color: #292929;
  font-weight: 700;
}

.treatment-btn {
  border: 1.5px solid #3a3a3a;
  color: #292929;
}

.treatment-btn:hover {
  color: #fbfefd;
  background-color: #3a3a3a;
}

/* ----------------------- Footer ------------------------ */
footer {
  background: #e8f9fa;
}

footer a {
  color: #3a3a3a;
}

.footer-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.footer-title {
  margin-left: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-title h2 {
  margin-bottom: 0;
}

.footer-title h6 {
  font-size: 0.9rem;
}

.footer-title img {
  width: 75px;
}

.rise-info {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-links h6 {
  font-size: 16px;
}

.footer-links a {
  margin: 0.25rem 0;
}

.footer-links-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.75rem;
}

.footer-socials {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.footer-socials i {
  margin-right: 0.75rem;
}

/* ----------------------- Buttons ------------------------ */
.button {
  display: inline-block;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 0.3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* ----------------------- Media Queries ------------------------ */
@media screen and (min-width: 576px) {
  .nav {
    width: 288px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc($header-height + 1rem);
  }
  .header-logo,
  .nav-logo,
  .nav-socials,
  .header-toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-profile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: initial;
    margin-bottom: 0;
  }
  .nav-img {
    width: 60px;
    height: auto;
    margin-right: 0.5em;
    margin-bottom: 0;
  }
  .nav-img img {
    width: 60px;
  }
  .nav-name {
    color: #0e1026;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-item {
    margin: 0 1.2rem;
  }
  .nav-link {
    color: #3a3a3a;
  }
  .nav-link:hover {
    color: #e8f9fa;
  }
  .active {
    color: #e8f9fa;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .nav-item a {
    font-size: 0.8rem;
  }
  .nav-content span {
    margin-left: 0.5em;
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 12px;
  }
}

.hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */